@font-face {
    src: url("font/DroidSans.ttf");
    font-family: DroidSans;    
}

@font-face {
  src: url("font/lmroman12-italic.otf");
  font-family: latinmodernmath;
}

h1 {  
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

body {
  font-family: DroidSans;
  font-size: 13px;
  line-height: 25px;
}

ul li {
  padding-bottom: 3px;
}

ul ul {
  padding-top: 5px;
}

ul.non-padded,
ul.non-padded ul {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
ul.non-padded li {
  padding-top: 0px;
  padding-bottom: 0px;
}

span.tab {
  display: block;
  padding-left: 5em;
}

code {
  display: inline-block;
  margin: 0px;
  padding: 0px 3px;
  border: 1px dotted #cfcfcf;
  background-color: #f6f6ff;
  line-height: 18px;
}

code.break-inline {
  display: inline-block;    
}

pre {
  display: block;
  border: 1px dotted #bbb;
  background-color: #f6f6ff;
  border-radius: 5px;
  padding: 5px;
  line-height: 16px;
}

.math {
  font-family: latinmodernmath, "Times New Roman";
  font-size: 17px;
  line-height: 17px;
}

table {
  border: 1px solid #777;
  border-spacing: 0px;  
}
table th {
  background-color: #f2f2f2;
  padding: 5px;  
}
table th ~ th {
  border-left: 1px solid #aaa;
}
table td {    
  padding: 3px;
  border-top: 1px solid #aaa;
}
table td ~ td {
  border-left: 1px solid #aaa;
}